.plan-item__title {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    margin: 0 0 5px 0;
    color: var(--color-black);
}

@media (max-width: 768px) {
    .plan-item__title {
        font-size: 16px;
    }
}