.modal__content {
    position: relative;
    max-width: 900px;
    width: 90%;
    max-height: 90vh;
    margin: auto;
    background: var(--color-white);
    border-radius: 8px;
    overflow-y: auto;
    z-index: 1;
}

@media (max-width: 768px) {
    .modal__content {
        width: 95%;
        max-height: 95vh;
    }
}